# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
dist/
build/

# Distribution / packaging
*.egg-info/
.eggs/
*.egg

# Logs and local databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/

# VSCode settings (optional)
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# not reequired
video/
dataset/
index.html